body, html, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.app-bar {
    background-color: #67c789 
  }
  
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 1.5rem;
  color: white;
}
.user-info {
    display: flex;
    align-items: center;
}

.username {
    color: white;
}

.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.box-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:2%;
  color: white;
}

.box-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.typ {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.circles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  background-color: #67c789;
}

.circle {
  position: absolute;
  background-color: #242424;
  border-radius: 50%;
  animation: float 10s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}