select {
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li:hover {
    background-color: #f0f0f0;
}

h3 {
    margin-top: 20px;
}
.mainbox {
  padding: 2;
  display: flex;
  height: 100vh;
  width: 100%;
}
.MuiPaginationItem-root {
  outline: none; 
}

.MuiPaginationItem-root:focus {
  outline: none; 
}
.box-centered{
  display:'flex';
  align-items: center;
  justify-content: center;
}
.fetch-button {
  position: fixed;
  bottom: 1000px;  /* 20px from the bottom of the screen */
      /* Center horizontally */
   /* Adjust to fully center */
  z-index: 1000;  /* Keep it above other content */
  padding: 10px 20px;
  background-color: #6200ea;  /* Example background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.fetch-button:hover {
  background-color: #3700b3;  /* Darker background on hover */
}