#root{
  background: linear-gradient(to bottom,#67c789, #222222 );
}
select {
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li:hover {
    background-color: #f0f0f0;
}

h3 {
    margin-top: 20px;
}
.mainbox {
  padding: 2;
  display: flex;
  height: 100vh;
  width: 100%;
}
.MuiPaginationItem-root {
  outline: none; 
}

.MuiPaginationItem-root:focus {
  outline: none; 
}
.box-centered{
  display:'flex';
  align-items: center;
  justify-content: center;
}
.fetch-button-fixed{
  background-color: #6200ea; 
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 40px !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important; 
}
.fetch-button:hover {
  background-color: #3700b3;  
}